$primary-color: #5F6369;
$dark-primary-color: #ffffff;

.grw-net-widget {
    /* resetting style */
    all: initial;
    * {
        all: unset;
        box-sizing: border-box;
    }
    a:hover {
        text-decoration: none;
        color: inherit;
    }
    
    display: table;
    font-family: 'Roboto', sans-serif;

    .grw-net-text {
        color: $primary-color;

        &-bold {
            font-weight: bold;
        }
        &-medium {
            font-weight: 500;
        }

        &-line {
            font-size: 1.1em;
            margin-left: 0.2rem;
            margin-right: 0.2rem;
        }

        &-row {
            display: flex;
            flex-wrap: wrap;
            align-items: center;

            &-col {
                flex: 0 0 auto
            }
        }
    }


    /* Stars styling */
    .grw-net-stars {
        display: flex;
        flex-shrink: 0;
        
        &-star {
            flex: 1;
            display: block;
            background-size: auto auto;
            background-position: center;
            background-repeat: no-repeat;
        }

        /* 5 stars */
        &-5-0 {
            .grw-net-stars-star {
                background-image: url(../img/star-full.svg);
            }
        }

        /* 4.5 stars */
        &-4-5 {
            .grw-net-stars-star {
                background-image: url(../img/star-full.svg);
                
                &:last-child {
                    background-image: url(../img/star-half.svg);
                }
            }
        }
        
        /* 4 stars */
        &-4-0 {
            .grw-net-stars-star {
                background-image: url(../img/star-full.svg);
                &:nth-last-child(-n+1) {
                    background-image: url(../img/star-empty.svg);
                }
            }
        }
        
        /* 3.5 stars */
        &-3-5 {
            .grw-net-stars-star {
                background-image: url(../img/star-full.svg);
                &:nth-last-child(2) {
                    background-image: url(../img/star-half.svg);
                }
                &:nth-last-child(-n+1) {
                    background-image: url(../img/star-empty.svg);
                }
            }
        }
        
        /* 3 stars */
        &-3-0 {
            .grw-net-stars-star {
                background-image: url(../img/star-full.svg);
                &:nth-last-child(-n+2) {
                    background-image: url(../img/star-empty.svg);
                }
            }
        }
        
        /* 2.5 stars */
        &-2-5 {
            .grw-net-stars-star {
                background-image: url(../img/star-full.svg);
                &:nth-last-child(3) {
                    background-image: url(../img/star-half.svg);
                }
                &:nth-last-child(-n+2) {
                    background-image: url(../img/star-empty.svg);
                }
            }
        }
        
        /* 2 stars */
        &-2-0 {
            .grw-net-stars-star {
                background-image: url(../img/star-full.svg);
                &:nth-last-child(-n+3) {
                    background-image: url(../img/star-empty.svg);
                }
            }
        }
        
        /* 1.5 stars */
        &-1-5 {
            .grw-net-stars-star {
                background-image: url(../img/star-full.svg);
                &:nth-last-child(4) {
                    background-image: url(../img/star-half.svg);
                }
                &:nth-last-child(-n+3) {
                    background-image: url(../img/star-empty.svg);
                }
            }
        }
        
        /* 1 star */
        &-1-0 {
            .grw-net-stars-star {
                background-image: url(../img/star-full.svg);
                &:nth-last-child(-n+4) {
                    background-image: url(../img/star-empty.svg);
                }
            }
        }

        /* 0.5 star */
        &-0-5 {
            .grw-net-stars-star {
                background-image: url(../img/star-half.svg);
                &:nth-last-child(-n+4) {
                    background-image: url(../img/star-empty.svg);
                }
            }
        }

        /* 0 star */
        &-0-0 {
            .grw-net-stars-star {
                background-image: url(../img/star-empty.svg);
            }
        }

    }

    .grw-net-logo-l {
        flex-shrink: 0;
        display: block;
        background-image: url(../img/google-logo-l.svg);
        background-size: auto auto;
        background-position: center center;
        background-repeat: no-repeat;
    }
    .grw-net-logo-r-w {
        flex-shrink: 0;
        display: block;
        background-image: url(../img/google-logo-r-w.svg);
        background-size: auto auto;
        background-position: center right;
        background-repeat: no-repeat;
    }
    .grw-net-logo-r {
        flex-shrink: 0;
        display: block;
        background-image: url(../img/google-logo-r.svg);
        background-size: auto auto;
        background-position: center center;
        background-repeat: no-repeat;
    }
    .grw-net-logo-b {
        flex-shrink: 0;
        display: block;
        background-image: url(../img/google-logo-b.svg);
        background-size: auto auto;
        background-position: center center;
        background-repeat: no-repeat;
    }
    .grw-net-logo-simple {
        flex-shrink: 0;
        display: block;
        background-image: url(../img/google-logo-simple.svg);
        background-size: auto auto;
        background-position: center center;
        background-repeat: no-repeat;
    }

    &-one {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
        cursor: pointer;
        
        &-type-1 {
            width: 190px;
        }
        &-type-3 {
            width: 220px;
        }
        
        &-type-1,
        &-type-3 {
            height: 34px;

            .grw-net-logo-l {
                width: 40px;
                height: 30px;
                margin-left: 0.4rem;
            }

            .grw-net-text {
                font-size: 1rem;
            }
        }

        &-type-2 {
            width: 222px;
        }

        &-type-4 {

            .grw-net-text {
                font-size: 0.9rem;
            }

            .grw-net-stars {
                margin-right: 0.5rem;
            }
        }

        &-type-2,
        &-type-4 {
            min-height: 30px;

            .grw-net-logo-l {
                width: 32px;
                height: 22px;
                margin-left: 0.1rem;
            }

            .grw-net-stars {
                width: 110px;
                gap: 2px;
                margin-left: 0.5rem;

                &-star {
                    height: 20px;
                }
            }

        }

    }

    &-two {
        display: flex;
        align-items: stretch;
        justify-content: center;
        flex-wrap: wrap;
        cursor: pointer;
        
        .grw-net-logo-r-w {
            width: 40px;
            height: 30px;
            z-index: 1;
        }

        &-content {
            display: flex;
            align-items: center;
            padding-left: 1rem;
            padding-right: 0.8rem;
            background-color: #4285F4;
            margin-left: -10px;
            border-top-right-radius: 4px;
            border-bottom-right-radius: 4px;

            .grw-net-widget-text {
                font-size: 0.94rem;
                color: #ffffff;
            }
        }

    }
    
    &-three {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
        cursor: pointer;
        background-color: #ffffff;

        &-type-1 {
            padding: 2em;
            border: 1px solid #A6A8AB;
        }

        &-type-2 {
            flex-direction: column;
            border: 1px solid #A6A8AB;
            width: 280px;

            .grw-net-text-better {
                width: 100%;
                padding: 0.5rem 0.2rem;
                position: relative;
                background-color: #D0D2D3;
                display: flex;
                flex-direction: column;
                text-align: center;
                font-size: 0.9rem;

                &::before {
                    content: "";
                    position: absolute;
                    clip-path: polygon(100% 0, 0 100%, 100% 100%);
                    width: 20px;
                    height: 11px;
                    background-color: #D0D2D3;
                    transform: translateX(-50%);
                    top: -9px;
                    left: 50%;
                }

                .grw-net-text-blue {
                    color: #1967D2;
                    font-weight: bold;
                }
            }

            .grw-net-widget-content {
                padding: 1em;
            }
        }

        .grw-net-widget-content {
            display: flex;
            flex-direction: column;
            align-items: center;

            .grw-net-text-center {
                text-align: center;
            }
        }
        
        .grw-net-logo-row {
            display: flex;
            align-items: center;

            .grw-net-logo-r {
                width: 40px;
                height: 30px;
                margin-right: 0.3rem;
            }

            .grw-net-logo-simple {
                width: 24px;
                height: 24px;
                margin-right: 0.4rem;
            }

            .grw-net-text {
                font-size: 1.2rem;
            }
        }

        .grw-net-stars {
            width: 100%;
            height: 28px;
            margin: 0.5rem 0 0.7rem 0;
        }

    }

    &-four {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
        cursor: pointer;
        border: 1px solid #A6A8AB;
        background-color: #ffffff;


        &-type-1,
        &-type-2 {
            width: 270px;            
        }

        &-type-1 {
            .grw-net-widget-four-logo {
                width: 68px;
                height: 58px;
            }
            .grw-net-text {
                margin-top: 0.2rem;
            }
        }

        &-type-2 {
            .grw-net-widget-four-logo {
                width: 72px;
                height: 65px;
            }
        }

        &-type-3 {
            width: 240px; 

            .grw-net-widget-four-logo {
                width: 68px;
                height: 58px;
            }

            .grw-net-stars-col {
                display: flex;
                flex-direction: column;

                .grw-net-stars {
                    width: 80px !important;
                    height: 14px !important;
                
                    &-text-small {
                        margin-top: 0.1rem;
                        font-size: 0.7rem;
                        font-weight: bold;
                        letter-spacing: 2px;
                        padding-left: 0.2rem;
                    }
                }
            }

        }

        &-type-4 {
            width: 160px;
            padding: 0.8em 0;
            
            
            .grw-net-widget-four-logo {
                width: 78px;
                height: 88px;
                margin-right: 0;
            }

            .grw-net-widget-four-content {
                display: flex;
                flex-direction: column;
                align-items: center;
                padding: 0.8rem 0;
            }

            .grw-net-widget-four-rows {
                margin-top: 0.5rem;
                text-align: center;
                align-items: center;

                .grw-net-stars-row {
                    flex-direction: column;

                    .grw-net-stars {
                        margin-top: 0.3rem;
                    }
                }
            }

            .grw-net-stars-text-small {
                margin-top: 0.3rem;
                font-size: 0.85rem !important;
                font-weight: 500;
                letter-spacing: 2px;
                text-align: center;
            }
        }

        &-type-5 {
            width: 180px;
            padding: 0.8em 0;

            .grw-net-widget-four-logo-row {
                display: flex;
                align-items: center;

                .grw-net-widget-four-logo {
                    width: 36px;
                    height: 24px;
                    margin-right: 0.1rem;
                }

                .grw-net-text {
                    font-size: 0.92rem;
                }
            }

            .grw-net-widget-four-content {
                display: flex;
                flex-direction: column;
                align-items: center;
                padding: 0.1rem 0.8rem;
            }

            .grw-net-widget-four-rows {
                flex-direction: column;
                align-items: center;
                text-align: center;

                .grw-net-stars {
                    width: 100px;
                    gap: 3px;

                    &-text-small {
                        margin-top: 0.3rem;
                        font-size: 0.9rem;
                        font-weight: 400;
                        text-align: center;
                    }
                }

            }

        }

        &-content {
            display: flex;
            align-items: center;
            padding: 0.8rem 0;
        }

        &-logo {
            display: flex;
            margin-right: 0.5rem;

            .grw-net-logo-r { flex: 1 0; }
            .grw-net-logo-b { flex: 1 0; }
        }

        &-rows {
            display: flex;
            flex-direction: column;
            flex: 1;

            .grw-net-stars {
                width: 150px;
                height: 24px;
            }

            .grw-net-text {
                font-size: 1rem;

                &-small {
                    font-size: 0.85rem;
                }

                &-big {
                    font-size: 1.3rem;
                }

                &-more-big {
                    font-size: 1.4rem;
                    line-height: 1.1;
                }

                &-much-big {
                    font-size: 1.7rem;
                    line-height: 1;
                }

                &-extra-big {
                    font-size: 2.8rem;
                    line-height: 1;
                }

            }
        }

        .grw-net-stars-row {
            display: flex;
            align-items: center;

            .grw-net-stars {
                width: 110px;
                height: 18px;
                gap: 2px;
                margin-left: 0.2rem;
            }

        }

        &-blue-tag {
            width: 100%;
            text-align: center;
            background-color: #4285F4;
            color: #ffffff;
            font-size: 0.9rem;
            padding: 0.2rem 1rem;
        }

    }

    &.grw-net-widget-dark {

        .grw-net-text-bold {
            color: $dark-primary-color;
        }
        .grw-net-text-medium {
            color: $dark-primary-color;
        }
        .grw-net-text-dark-white {
            color: $dark-primary-color;
        }

        .grw-net-widget-three {
            background-color: #000000;

            &-type-2 {
                .grw-net-text-better {
                    background-color: #ffffff;
                    &::before {
                        background-color: #ffffff;
                    }
                }
            }
            
        }

        .grw-net-widget-four {
            background-color: #000000;
        }
    }

}
