$primary-color: #5F6369;
$primary-light-color: #929497;
$primary-extra-light-color: #BBBDBF;
$dark-primary-color: #ffffff;


/* Stars styling */

.grw-net-widget-carousel {
    display: flex;
    width: 100%;

    &-container {
        width: 100%;
        display: flex;
    }

    &-type-1 {
        .grw-net-widget-carousel-row {
            width: calc(100% - 170px);
        }
    }

    &-type-2 {
        .grw-net-widget-carousel-container {
            flex-direction: column;
        }
        .grw-net-widget-carousel-row {
            width: 100%;
        }
    }
    
    &-left {
        * {
            all: unset;
            box-sizing: border-box;
        }
        a:hover {
            text-decoration: none;
            color: inherit;
        }

        all: initial;

        box-sizing: border-box;
        font-family: 'Roboto', sans-serif;
        padding-right: 1.2rem;
        display: flex;
        width: 170px;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;

        .grw-net-stars {
            width: 140px;
            height: 22px;
            gap: 4px;
            margin: 0.2rem 0 0.4rem 0;
            display: block;
        }

        .grw-net-logo {
            display: flex;
            align-items: center;
            justify-content: center;
            margin-top: 0.5rem;

            &-img {
                width: 50px;
                height: 40px;
                display: flex;
                margin-right: 0.4rem;
            }

            .grw-net-logo-r {
                flex: 1 0 auto;
            }

            .grw-net-text {
                width: 60px;
                text-align: left;
                line-height: 1;
            }
        }
    }

    &-row {
        padding: 1rem 2rem;
        box-sizing: border-box;
    }

    &-bottom {
        * {
            all: unset;
            box-sizing: border-box;
        }
        a:hover {
            text-decoration: none;
            color: inherit;
        }
        all: initial;

        
        font-family: 'Roboto', sans-serif;
        display: flex;
        align-items: center;
        justify-content: center;
        box-sizing: border-box;

        margin-top: 1rem;

        .grw-net-logo {
            display: flex;
            align-items: center;
            justify-content: center;

            &-img {
                width: 50px;
                height: 40px;
                display: flex;
                margin-left: 0.4rem;
                margin-right: 0.4rem;
            }

            .grw-net-logo-r {
                flex: 1 0 auto;
            }
            .grw-net-text {
                text-align: left;
                line-height: 1;
            }
        }
    }

    .grw-net-splide__slide {
        display: flex;
    }
    
    .grw-net-splide__arrows {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        width: 100%;
        display: flex;
        justify-content: space-between;

        .grw-net-splide__arrow {
            background-color: transparent;
            border-radius: 50%;
            width: 26px;
            height: 26px;
            padding: 0.3rem;
            display: flex;
            justify-content: center;
            cursor: pointer;
            border: 1px solid $primary-extra-light-color;

            &--prev {
                margin-left: -2rem;
            }
            &--next {
                margin-right: -2rem;
            }
        }
    }
    .grw-net-icon-chevron-left {
        background-image: url(../img/chevron-left-solid.svg);
        background-size: auto;
        background-position: center center;
        background-repeat: no-repeat;
        flex: 1;
    }
    .grw-net-icon-chevron-right {
        background-image: url(../img/chevron-right-solid.svg);
        background-size: auto;
        background-position: center center;
        background-repeat: no-repeat;
        flex: 1;
    }

    .grw-net-comment {
        * {
            all: unset;
            box-sizing: border-box;
        }
        a:hover {
            text-decoration: none;
            color: inherit;
        }

        all: initial;

        box-sizing: border-box;
        font-family: 'Roboto', sans-serif;
        display: flex;
        flex-direction: column;
        border: 1px solid $primary-extra-light-color;
        background-color: #ffffff;
        padding: 1rem 1rem;
        border-radius: 6px;
        flex: 1;
        

        &-top {
            display: flex;
            align-items: center;
            justify-content: space-between;
            height: 20px;
            margin-bottom: 0.5rem;
            
            &-stars {
                width: 120px;
                height: 20px;
                gap: 4px;
            }

            &-logo {
                display: flex;
                width: 21px;
                height: 20px;
                
                .grw-net-logo-simple {
                    flex: 1 0 auto;
                }
            }
        }

        &-main {
            display: flex;
            flex-direction: column;
            flex: 1;

            &-text {
                display: block;

                .grw-net-text {
                    display: block;
                    margin: 0.25rem 0;
                    font-size: 0.9rem;
                }

                &-title {
                    margin: 0.7rem 0;
                }
            }
        }

        &-date {
            font-size: 0.84rem;
            color: $primary-light-color;
        }

        &-author {
            font-size: 0.9rem;
            color: $primary-light-color;
            margin-top: 0.5rem;
        }

        &-hidden {
            display: none;
        }

        &-more-less {
            color: $primary-light-color;
            letter-spacing: 0.5px;
            font-size: 0.9rem;
            cursor: pointer;
        }

    }

    .grw-net-text {
        color: $primary-color;

        &-small {
            font-size: 0.85rem;
        }
        &-large {
            font-size: 1.4rem;
        }
        &-bold {
            font-weight: bold;
        }
        &-medium {
            font-weight: 500;
        }
        &-underline {
            text-decoration: underline;
        }
    }

    /* Google Logo */
    .grw-net-logo-r {
        flex-shrink: 0;
        display: block;
        background-image: url(../img/google-logo-r.svg);
        background-size: auto auto;
        background-position: center center;
        background-repeat: no-repeat;
    }
    .grw-net-logo-simple {
        flex-shrink: 0;
        display: block;
        background-image: url(../img/google-logo-simple.svg);
        background-size: auto auto;
        background-position: center center;
        background-repeat: no-repeat;
    }

    /* Stars Styling */

    .grw-net-stars {
        display: flex;
        flex-shrink: 0;
        
        &-star {
            flex: 1;
            display: block;
            background-size: auto auto;
            background-position: center;
            background-repeat: no-repeat;
        }
    
        /* 5 stars */
        &-5-0 {
            .grw-net-stars-star {
                background-image: url(../img/star-full.svg);
            }
        }
    
        /* 4.5 stars */
        &-4-5 {
            .grw-net-stars-star {
                background-image: url(../img/star-full.svg);
                &:last-child {
                    background-image: url(../img/star-half.svg);
                }
            }
        }
        
        /* 4 stars */
        &-4-0 {
            .grw-net-stars-star {
                background-image: url(../img/star-full.svg);
                &:nth-last-child(-n+1) {
                    background-image: url(../img/star-empty.svg);
                }
            }
        }
        
        /* 3.5 stars */
        &-3-5 {
            .grw-net-stars-star {
                background-image: url(../img/star-full.svg);
                &:nth-last-child(2) {
                    background-image: url(../img/star-half.svg);
                }
                &:nth-last-child(-n+1) {
                    background-image: url(../img/star-empty.svg);
                }
            }
        }
        
        /* 3 stars */
        &-3-0 {
            .grw-net-stars-star {
                background-image: url(../img/star-full.svg);
                &:nth-last-child(-n+2) {
                    background-image: url(../img/star-empty.svg);
                }
            }
        }
        
        /* 2.5 stars */
        &-2-5 {
            .grw-net-stars-star {
                background-image: url(../img/star-full.svg);
                &:nth-last-child(3) {
                    background-image: url(../img/star-half.svg);
                }
                &:nth-last-child(-n+2) {
                    background-image: url(../img/star-empty.svg);
                }
            }
        }
        
        /* 2 stars */
        &-2-0 {
            .grw-net-stars-star {
                background-image: url(../img/star-full.svg);
                &:nth-last-child(-n+3) {
                    background-image: url(../img/star-empty.svg);
                }
            }
        }
        
        /* 1.5 stars */
        &-1-5 {
            .grw-net-stars-star {
                background-image: url(../img/star-full.svg);
                &:nth-last-child(4) {
                    background-image: url(../img/star-half.svg);
                }
                &:nth-last-child(-n+3) {
                    background-image: url(../img/star-empty.svg);
                }
            }
        }
        
        /* 1 star */
        &-1-0 {
            .grw-net-stars-star {
                background-image: url(../img/star-full.svg);
                &:nth-last-child(-n+4) {
                    background-image: url(../img/star-empty.svg);
                }
            }
        }
    
        /* 0.5 star */
        &-0-5 {
            .grw-net-stars-star {
                background-image: url(../img/star-half.svg);
                &:nth-last-child(-n+4) {
                    background-image: url(../img/star-empty.svg);
                }
            }
        }
    
        /* 0 star */
        &-0-0 {
            .grw-net-stars-star {
                background-image: url(../img/star-empty.svg);
            }
        }
    
    }

    &.grw-net-widget-dark {
        

        .grw-net-text-bold {
            color: $dark-primary-color;
        }
        .grw-net-text-medium {
            color: $dark-primary-color;
        }

        .grw-net-comment {
            background-color: #000000;

            &-main-text {
                .grw-net-text {
                    color: #ffffff;
                }
            }

            &-more-less {
                color: $primary-extra-light-color
            }
        }

    }

}


/* Splide Defaults */
@keyframes grw-net-splide-loading{0%{transform:rotate(0)}to{transform:rotate(1turn)}}.grw-net-splide--draggable>.grw-net-splide__track>.grw-net-splide__list>.grw-net-splide__slide{-webkit-user-select:none;-ms-user-select:none;user-select:none}.grw-net-splide--fade>.grw-net-splide__track>.grw-net-splide__list{display:block}.grw-net-splide--fade>.grw-net-splide__track>.grw-net-splide__list>.grw-net-splide__slide{left:0;opacity:0;position:absolute;top:0;z-index:0}.grw-net-splide--fade>.grw-net-splide__track>.grw-net-splide__list>.grw-net-splide__slide.is-active{opacity:1;position:relative;z-index:1}.grw-net-splide--rtl{direction:rtl}.grw-net-splide--ttb>.grw-net-splide__track>.grw-net-splide__list{display:block}.grw-net-splide--ttb>.grw-net-splide__pagination{width:auto}.grw-net-splide__container{box-sizing:border-box;position:relative}.grw-net-splide__list{margin:0!important;padding:0!important;width:max-content;will-change:transform}.grw-net-splide.is-active .grw-net-splide__list{display:-ms-flexbox;display:flex}.grw-net-splide__pagination{-ms-flex-align:center;align-items:center;display:-ms-inline-flexbox;display:inline-flex;-ms-flex-wrap:wrap;flex-wrap:wrap;-ms-flex-pack:center;justify-content:center;margin:0;width:95%}.grw-net-splide__pagination li{display:inline-block;line-height:1;list-style-type:none;margin:0}.grw-net-splide{outline:none;position:relative;visibility:hidden}.grw-net-splide__slide{box-sizing:border-box;-ms-flex-negative:0;flex-shrink:0;list-style-type:none!important;margin:0;outline:none;position:relative}.grw-net-splide__slide img{vertical-align:bottom}.grw-net-splide__slider{position:relative}.grw-net-splide__spinner{animation:grw-net-splide-loading 1s linear infinite;border:2px solid #999;border-left-color:transparent;border-radius:50%;bottom:0;display:inline-block;height:20px;left:0;margin:auto;position:absolute;right:0;top:0;width:20px}.grw-net-splide__track{overflow:hidden;position:relative;z-index:0}
/* Splide Defaults */
