$primary-color: #5F6369;
$primary-light-color: #929497;
$primary-extra-light-color: #BBBDBF;
$dark-primary-color: #ffffff;

.grw-net-widget {
    /* resetting style */
    all: initial;
    * {
        all: unset;
        box-sizing: border-box;
    }
    a:hover {
        text-decoration: none;
        color: inherit;
    }

    font-family: 'Roboto', sans-serif;
    width: 100%;

    &-container {
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    &-line {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;

        &-logo {
            width: 44px;
            height: 34px;
            display: flex;
            margin-right: 0.4rem;
            .grw-net-logo-r {
                flex: 1 0 100%;
            }
        }

        .grw-net-stars {
            width: 140px;
            height: 22px;
            gap: 2px;
        }

        &-text {
            margin-left: 0.4rem;
            display: flex;
            align-items: center;

            .grw-net-text {
                font-size: 0.94rem;
            }
        }

        &-icon {
            display: flex;
            width: 20px;
            height: 16px;
            margin-left: 0.4rem;
        }

    }

    .grw-net-widget-drop {
        width: 100%;
        border: 1px solid $primary-extra-light-color;
        background-color: #ffffff;
        position: relative;
        padding: 2rem;
        margin-top: 1rem;
        border-radius: 8px;

        &::before {
            content: '';
            position: absolute;
            top: -18px;
            width: 0;
            left: calc(50% + 5rem);
            transform: translateX(-50%);
            height: 0;
            border-bottom: 18px solid #c0c1c3;
            border-left: 30px solid transparent;
        }
        &::after {
            content: '';
            position: absolute;
            top: -16px;
            width: 0;
            left: calc(50% - 1px + 5rem);
            transform: translateX(-50%);
            height: 0;
            border-bottom: 18px solid #ffffff;
            border-left: 30px solid transparent;
        }
        
    }

    &-head {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;

        &-top {
            display: flex;
            align-items: center;
            
            .grw-net-text {
                margin-right: 0.8rem;
            }

            .grw-net-stars {
                width: 140px;
                height: 22px;
            }
        }

        &-bottom {
            display: flex;
            align-items: center;
            margin-top: 0.4rem;

            .grw-net-text {
                font-size: 0.84rem;
            }

            .grw-net-logo {
                display: flex;
                align-items: center;
                justify-content: center;
    
                &-img {
                    width: 34px;
                    height: 26px;
                    display: flex;
                    margin-left: 0.4rem;
                    margin-right: 0.4rem;
                }
    
                .grw-net-logo-r {
                    flex: 1 0 auto;
                }
                .grw-net-text {
                    text-align: left;
                    line-height: 1;
                }
            }

        }

    }

    &-comment-rows {
        display: flex;
        flex-direction: column;
        margin-top: 1em;
    }
    &-comment-row {
        display: flex;
        flex-direction: column;
        border-top: 1px solid $primary-extra-light-color;
        padding-top: 1rem;
        
        &:not(:last-child) {
            padding-bottom: 1rem;
        }

        &-top {
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-bottom: 0.5rem;

            &-left {
                display: flex;
                align-items: center;
            }

            .grw-net-stars {
                width: 100px;
                height: 16px;
            }
        }

        &-author {
            font-size: 0.8rem;
            color: $primary-light-color !important;
            margin-left: 0.5rem;
        }

    }
    
    &-grid {
        margin-top: 1rem;
        display: grid;
        grid-template-columns: auto auto auto;
        grid-column-gap: 1rem;
        grid-row-gap: 1rem;
    }
    
    @media screen and (max-width: 1024px) {
        &-grid {
            grid-template-columns: auto auto;
        }
    }
    @media screen and (max-width: 640px) {
        &-grid {
            grid-template-columns: auto;
        }
    }

    .grw-net-comment {
        display: flex;
        flex-direction: column;
        border: 1px solid $primary-extra-light-color;
        background-color: #ffffff;
        padding: 1rem 1rem;
        border-radius: 6px;

        &-top {
            display: flex;
            align-items: center;
            justify-content: space-between;
            height: 20px;
            margin-bottom: 0.5rem;
            
            &-stars {
                width: 120px;
                height: 20px;
                gap: 4px;
            }

            &-logo {
                display: flex;
                width: 21px;
                height: 20px;
                
                .grw-net-logo-simple {
                    flex: 1 0 auto;
                }
            }
        }

        &-main {
            display: flex;
            flex-direction: column;
            flex: 1;

            &-text {
                display: block;

                .grw-net-text {
                    display: block;
                    margin: 0.25rem 0;
                    font-size: 0.9rem;
                }

                &-title {
                    margin: 0.7rem 0;
                }
            }
        }

        &-date {
            font-size: 0.84rem;
            color: $primary-light-color;
        }

        &-author {
            font-size: 0.9rem;
            color: $primary-light-color;
            margin-top: 0.5rem;
        }

        &-hidden {
            display: none;
        }

        &-more-less {
            color: $primary-light-color;
            letter-spacing: 0.5px;
            font-size: 0.9rem;
            cursor: pointer;
        }

    }

    .grw-net-text {
        color: $primary-color;
        
        &-medium {
            font-weight: 500;
        }

        &-bold {
            font-weight: bold;
        }

        &-large {
            font-size: 1.4rem;
        }
    }

    .grw-net-icon-chevron-down {
        background-image: url(../img/chevron-down-solid.svg);
        background-size: auto;
        background-position: center center;
        background-repeat: no-repeat;
        flex: 1;
    }

    .grw-net-icon-chevron-up {
        background-image: url(../img/chevron-up-solid.svg);
        background-size: auto;
        background-position: center center;
        background-repeat: no-repeat;
        flex: 1;
    }

    /* Google Logo */
    .grw-net-logo-r {
        flex-shrink: 0;
        display: block;
        background-image: url(../img/google-logo-r.svg);
        background-size: auto auto;
        background-position: center center;
        background-repeat: no-repeat;
    }
    .grw-net-logo-simple {
        flex-shrink: 0;
        display: block;
        background-image: url(../img/google-logo-simple.svg);
        background-size: auto auto;
        background-position: center center;
        background-repeat: no-repeat;
    }

    /* Stars Styling */

    .grw-net-stars {
        display: flex;
        flex-shrink: 0;
        
        &-star {
            flex: 1;
            display: block;
            background-size: auto auto;
            background-position: center;
            background-repeat: no-repeat;
        }
    
        /* 5 stars */
        &-5-0 {
            .grw-net-stars-star {
                background-image: url(../img/star-full.svg);
            }
        }
    
        /* 4.5 stars */
        &-4-5 {
            .grw-net-stars-star {
                background-image: url(../img/star-full.svg);
                &:last-child {
                    background-image: url(../img/star-half.svg);
                }
            }
        }
        
        /* 4 stars */
        &-4-0 {
            .grw-net-stars-star {
                background-image: url(../img/star-full.svg);
                &:nth-last-child(-n+1) {
                    background-image: url(../img/star-empty.svg);
                }
            }
        }
        
        /* 3.5 stars */
        &-3-5 {
            .grw-net-stars-star {
                background-image: url(../img/star-full.svg);
                &:nth-last-child(2) {
                    background-image: url(../img/star-half.svg);
                }
                &:nth-last-child(-n+1) {
                    background-image: url(../img/star-empty.svg);
                }
            }
        }
        
        /* 3 stars */
        &-3-0 {
            .grw-net-stars-star {
                background-image: url(../img/star-full.svg);
                &:nth-last-child(-n+2) {
                    background-image: url(../img/star-empty.svg);
                }
            }
        }
        
        /* 2.5 stars */
        &-2-5 {
            .grw-net-stars-star {
                background-image: url(../img/star-full.svg);
                &:nth-last-child(3) {
                    background-image: url(../img/star-half.svg);
                }
                &:nth-last-child(-n+2) {
                    background-image: url(../img/star-empty.svg);
                }
            }
        }
        
        /* 2 stars */
        &-2-0 {
            .grw-net-stars-star {
                background-image: url(../img/star-full.svg);
                &:nth-last-child(-n+3) {
                    background-image: url(../img/star-empty.svg);
                }
            }
        }
        
        /* 1.5 stars */
        &-1-5 {
            .grw-net-stars-star {
                background-image: url(../img/star-full.svg);
                &:nth-last-child(4) {
                    background-image: url(../img/star-half.svg);
                }
                &:nth-last-child(-n+3) {
                    background-image: url(../img/star-empty.svg);
                }
            }
        }
        
        /* 1 star */
        &-1-0 {
            .grw-net-stars-star {
                background-image: url(../img/star-full.svg);
                &:nth-last-child(-n+4) {
                    background-image: url(../img/star-empty.svg);
                }
            }
        }
    
        /* 0.5 star */
        &-0-5 {
            .grw-net-stars-star {
                background-image: url(../img/star-half.svg);
                &:nth-last-child(-n+4) {
                    background-image: url(../img/star-empty.svg);
                }
            }
        }
    
        /* 0 star */
        &-0-0 {
            .grw-net-stars-star {
                background-image: url(../img/star-empty.svg);
            }
        }
    
    }


    &.grw-net-widget-dark {

        .grw-net-text-bold {
            color: $dark-primary-color;
        }
        .grw-net-text-medium {
            color: $dark-primary-color;
        }
        .grw-net-text-dark-white {
            color: $dark-primary-color;
        }
    
        .grw-net-widget-line {
            &-text {
                .grw-net-text {
                    color: #4285F4;
                }
            }
        }

        .grw-net-widget-drop {
            background-color: #000000;
            &::after {
                border-bottom: 18px solid #000000;
            }
        }

        
        .grw-net-comment {
            background-color: #000000;
            &-main-text {
                .grw-net-text {
                    color: #ffffff;
                }
            }
            &-more-less {
                color: $primary-extra-light-color
            }
        }

    }

}
