.grw-net-widget {
  /* resetting style */
  all: initial;
  font-family: 'Roboto', sans-serif;
  width: 100%;
  /* Google Logo */
  /* Stars Styling */
}

.grw-net-widget * {
  all: unset;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.grw-net-widget a:hover {
  text-decoration: none;
  color: inherit;
}

.grw-net-widget-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
}

.grw-net-widget-line {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.grw-net-widget-line-logo {
  width: 44px;
  height: 34px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-right: 0.4rem;
}

.grw-net-widget-line-logo .grw-net-logo-r {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 100%;
          flex: 1 0 100%;
}

.grw-net-widget-line .grw-net-stars {
  width: 140px;
  height: 22px;
  gap: 2px;
}

.grw-net-widget-line-text {
  margin-left: 0.4rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.grw-net-widget-line-text .grw-net-text {
  font-size: 0.94rem;
}

.grw-net-widget-line-icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 20px;
  height: 16px;
  margin-left: 0.4rem;
}

.grw-net-widget .grw-net-widget-drop {
  width: 100%;
  border: 1px solid #BBBDBF;
  background-color: #ffffff;
  position: relative;
  padding: 2rem;
  margin-top: 1rem;
  border-radius: 8px;
}

.grw-net-widget .grw-net-widget-drop::before {
  content: '';
  position: absolute;
  top: -18px;
  width: 0;
  left: calc(50% + 5rem);
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  height: 0;
  border-bottom: 18px solid #c0c1c3;
  border-left: 30px solid transparent;
}

.grw-net-widget .grw-net-widget-drop::after {
  content: '';
  position: absolute;
  top: -16px;
  width: 0;
  left: calc(50% - 1px + 5rem);
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  height: 0;
  border-bottom: 18px solid #ffffff;
  border-left: 30px solid transparent;
}

.grw-net-widget-head {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.grw-net-widget-head-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.grw-net-widget-head-top .grw-net-text {
  margin-right: 0.8rem;
}

.grw-net-widget-head-top .grw-net-stars {
  width: 140px;
  height: 22px;
}

.grw-net-widget-head-bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 0.4rem;
}

.grw-net-widget-head-bottom .grw-net-text {
  font-size: 0.84rem;
}

.grw-net-widget-head-bottom .grw-net-logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.grw-net-widget-head-bottom .grw-net-logo-img {
  width: 34px;
  height: 26px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 0.4rem;
  margin-right: 0.4rem;
}

.grw-net-widget-head-bottom .grw-net-logo .grw-net-logo-r {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 auto;
          flex: 1 0 auto;
}

.grw-net-widget-head-bottom .grw-net-logo .grw-net-text {
  text-align: left;
  line-height: 1;
}

.grw-net-widget-comment-rows {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 1em;
}

.grw-net-widget-comment-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border-top: 1px solid #BBBDBF;
  padding-top: 1rem;
}

.grw-net-widget-comment-row:not(:last-child) {
  padding-bottom: 1rem;
}

.grw-net-widget-comment-row-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 0.5rem;
}

.grw-net-widget-comment-row-top-left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.grw-net-widget-comment-row-top .grw-net-stars {
  width: 100px;
  height: 16px;
}

.grw-net-widget-comment-row-author {
  font-size: 0.8rem;
  color: #929497 !important;
  margin-left: 0.5rem;
}

.grw-net-widget-grid {
  margin-top: 1rem;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto auto auto;
      grid-template-columns: auto auto auto;
  grid-column-gap: 1rem;
  grid-row-gap: 1rem;
}

@media screen and (max-width: 1024px) {
  .grw-net-widget-grid {
    -ms-grid-columns: auto auto;
        grid-template-columns: auto auto;
  }
}

@media screen and (max-width: 640px) {
  .grw-net-widget-grid {
    -ms-grid-columns: auto;
        grid-template-columns: auto;
  }
}

.grw-net-widget .grw-net-comment {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border: 1px solid #BBBDBF;
  background-color: #ffffff;
  padding: 1rem 1rem;
  border-radius: 6px;
}

.grw-net-widget .grw-net-comment-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 20px;
  margin-bottom: 0.5rem;
}

.grw-net-widget .grw-net-comment-top-stars {
  width: 120px;
  height: 20px;
  gap: 4px;
}

.grw-net-widget .grw-net-comment-top-logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 21px;
  height: 20px;
}

.grw-net-widget .grw-net-comment-top-logo .grw-net-logo-simple {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 auto;
          flex: 1 0 auto;
}

.grw-net-widget .grw-net-comment-main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.grw-net-widget .grw-net-comment-main-text {
  display: block;
}

.grw-net-widget .grw-net-comment-main-text .grw-net-text {
  display: block;
  margin: 0.25rem 0;
  font-size: 0.9rem;
}

.grw-net-widget .grw-net-comment-main-text-title {
  margin: 0.7rem 0;
}

.grw-net-widget .grw-net-comment-date {
  font-size: 0.84rem;
  color: #929497;
}

.grw-net-widget .grw-net-comment-author {
  font-size: 0.9rem;
  color: #929497;
  margin-top: 0.5rem;
}

.grw-net-widget .grw-net-comment-hidden {
  display: none;
}

.grw-net-widget .grw-net-comment-more-less {
  color: #929497;
  letter-spacing: 0.5px;
  font-size: 0.9rem;
  cursor: pointer;
}

.grw-net-widget .grw-net-text {
  color: #5F6369;
}

.grw-net-widget .grw-net-text-medium {
  font-weight: 500;
}

.grw-net-widget .grw-net-text-bold {
  font-weight: bold;
}

.grw-net-widget .grw-net-text-large {
  font-size: 1.4rem;
}

.grw-net-widget .grw-net-icon-chevron-down {
  background-image: url(../img/chevron-down-solid.svg);
  background-size: auto;
  background-position: center center;
  background-repeat: no-repeat;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.grw-net-widget .grw-net-icon-chevron-up {
  background-image: url(../img/chevron-up-solid.svg);
  background-size: auto;
  background-position: center center;
  background-repeat: no-repeat;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.grw-net-widget .grw-net-logo-r {
  -ms-flex-negative: 0;
      flex-shrink: 0;
  display: block;
  background-image: url(../img/google-logo-r.svg);
  background-size: auto auto;
  background-position: center center;
  background-repeat: no-repeat;
}

.grw-net-widget .grw-net-logo-simple {
  -ms-flex-negative: 0;
      flex-shrink: 0;
  display: block;
  background-image: url(../img/google-logo-simple.svg);
  background-size: auto auto;
  background-position: center center;
  background-repeat: no-repeat;
}

.grw-net-widget .grw-net-stars {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  /* 5 stars */
  /* 4.5 stars */
  /* 4 stars */
  /* 3.5 stars */
  /* 3 stars */
  /* 2.5 stars */
  /* 2 stars */
  /* 1.5 stars */
  /* 1 star */
  /* 0.5 star */
  /* 0 star */
}

.grw-net-widget .grw-net-stars-star {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: block;
  background-size: auto auto;
  background-position: center;
  background-repeat: no-repeat;
}

.grw-net-widget .grw-net-stars-5-0 .grw-net-stars-star {
  background-image: url(../img/star-full.svg);
}

.grw-net-widget .grw-net-stars-4-5 .grw-net-stars-star {
  background-image: url(../img/star-full.svg);
}

.grw-net-widget .grw-net-stars-4-5 .grw-net-stars-star:last-child {
  background-image: url(../img/star-half.svg);
}

.grw-net-widget .grw-net-stars-4-0 .grw-net-stars-star {
  background-image: url(../img/star-full.svg);
}

.grw-net-widget .grw-net-stars-4-0 .grw-net-stars-star:nth-last-child(-n+1) {
  background-image: url(../img/star-empty.svg);
}

.grw-net-widget .grw-net-stars-3-5 .grw-net-stars-star {
  background-image: url(../img/star-full.svg);
}

.grw-net-widget .grw-net-stars-3-5 .grw-net-stars-star:nth-last-child(2) {
  background-image: url(../img/star-half.svg);
}

.grw-net-widget .grw-net-stars-3-5 .grw-net-stars-star:nth-last-child(-n+1) {
  background-image: url(../img/star-empty.svg);
}

.grw-net-widget .grw-net-stars-3-0 .grw-net-stars-star {
  background-image: url(../img/star-full.svg);
}

.grw-net-widget .grw-net-stars-3-0 .grw-net-stars-star:nth-last-child(-n+2) {
  background-image: url(../img/star-empty.svg);
}

.grw-net-widget .grw-net-stars-2-5 .grw-net-stars-star {
  background-image: url(../img/star-full.svg);
}

.grw-net-widget .grw-net-stars-2-5 .grw-net-stars-star:nth-last-child(3) {
  background-image: url(../img/star-half.svg);
}

.grw-net-widget .grw-net-stars-2-5 .grw-net-stars-star:nth-last-child(-n+2) {
  background-image: url(../img/star-empty.svg);
}

.grw-net-widget .grw-net-stars-2-0 .grw-net-stars-star {
  background-image: url(../img/star-full.svg);
}

.grw-net-widget .grw-net-stars-2-0 .grw-net-stars-star:nth-last-child(-n+3) {
  background-image: url(../img/star-empty.svg);
}

.grw-net-widget .grw-net-stars-1-5 .grw-net-stars-star {
  background-image: url(../img/star-full.svg);
}

.grw-net-widget .grw-net-stars-1-5 .grw-net-stars-star:nth-last-child(4) {
  background-image: url(../img/star-half.svg);
}

.grw-net-widget .grw-net-stars-1-5 .grw-net-stars-star:nth-last-child(-n+3) {
  background-image: url(../img/star-empty.svg);
}

.grw-net-widget .grw-net-stars-1-0 .grw-net-stars-star {
  background-image: url(../img/star-full.svg);
}

.grw-net-widget .grw-net-stars-1-0 .grw-net-stars-star:nth-last-child(-n+4) {
  background-image: url(../img/star-empty.svg);
}

.grw-net-widget .grw-net-stars-0-5 .grw-net-stars-star {
  background-image: url(../img/star-half.svg);
}

.grw-net-widget .grw-net-stars-0-5 .grw-net-stars-star:nth-last-child(-n+4) {
  background-image: url(../img/star-empty.svg);
}

.grw-net-widget .grw-net-stars-0-0 .grw-net-stars-star {
  background-image: url(../img/star-empty.svg);
}

.grw-net-widget.grw-net-widget-dark .grw-net-text-bold {
  color: #ffffff;
}

.grw-net-widget.grw-net-widget-dark .grw-net-text-medium {
  color: #ffffff;
}

.grw-net-widget.grw-net-widget-dark .grw-net-text-dark-white {
  color: #ffffff;
}

.grw-net-widget.grw-net-widget-dark .grw-net-widget-line-text .grw-net-text {
  color: #4285F4;
}

.grw-net-widget.grw-net-widget-dark .grw-net-widget-drop {
  background-color: #000000;
}

.grw-net-widget.grw-net-widget-dark .grw-net-widget-drop::after {
  border-bottom: 18px solid #000000;
}

.grw-net-widget.grw-net-widget-dark .grw-net-comment {
  background-color: #000000;
}

.grw-net-widget.grw-net-widget-dark .grw-net-comment-main-text .grw-net-text {
  color: #ffffff;
}

.grw-net-widget.grw-net-widget-dark .grw-net-comment-more-less {
  color: #BBBDBF;
}
/*# sourceMappingURL=widget-more.css.map */